<div class="alert alert-danger">
    <p>
        <strong>
            {{ "insufficientAccountBalance.message_one"|trans }}
        </strong>
    </p>
    <p>

        {{
        "insufficientAccountBalance.message_two"
        |trans(
            {
                "%usageCostsForOneInterval%": usageCostsForOneInterval|localizedcurrency('USD'),
                "%usageCostsInterval%": ("insufficientAccountBalance.billing_interval_" ~ usageCostsIntervalAsString)|trans
            }
        )
        }}

        <strong>{{ currentAccountBalance|localizedcurrency('USD') }}</strong>.
    </p>
    <hr>
    <a class="btn btn-primary" href="{{ path('accountmovements.new') }}">{{ "insufficientAccountBalance.click_here_to_increase_your_balance"|trans }}</a>
</div>
