{% if app.user %}
    <div id="loggedin-info">
        <small>Logged in as <b>{{ app.user.username }}</b></small>
    </div>
{% endif %}
<ul class="nav navbar-nav pull-right">
    {% if app.user %}
        <li><a href="{{ path('remotedesktops.index') }}">{{ "_navigation.your_remote_desktops"|trans }}</a></li>
        <li><a href="{{ path('remotedesktops.new') }}">{{ "_navigation.create_new_remote_desktop"|trans }}</a></li>
        <li><a href="{{ path('fos_user_security_logout') }}">{{ "_navigation.logout"|trans }}</a></li>
    {% else %}
        <li><a href="{{ path('fos_user_registration_register') }}">{{ "_navigation.register"|trans }}</a></li>
        <li><a href="{{ path('fos_user_security_login') }}">{{ "_navigation.login"|trans }}</a></li>
    {% endif %}
</ul>
