<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}ubiqMachine{% endblock %}</title>

        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('bundles/app/vendor/css/bootstrap.min.css') }}">
            <!-- <link rel="stylesheet" href="{{ asset('bundles/app/vendor/css/bootstrap-material-design.min.css') }}"> -->
            <link rel="stylesheet" href="{{ asset('bundles/app/vendor/css/ripples.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/app/default.css') }}">
        {% endblock %}

        <script src="{{ asset('bundles/app/vendor/js/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/app/vendor/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/app/vendor/js/material.min.js') }}"></script>
        <script src="{{ asset('bundles/app/vendor/js/ripples.min.js') }}"></script>
        <script src="{{ asset('bundles/app/scripts.js') }}"></script>
        <script src="{{ asset('bundles/app/vendor/jstimezonedetect/jstz.js') }}"></script>
        <script src="{{ asset('bundles/app/vendor/js-cookie/src/js.cookie.js') }}"></script>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header class="clearfix">
            <nav class="navbar navbar-fixed-top">
                <div class="wrapper">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a href="{{ path('homepage') }}"><img style="margin-top: 2px; margin-bottom: -55px;" src="/bundles/app/logo.png" height="62px"></a>
                        </div>
                        <div class="collapse navbar-collapse" id="navbar">
                            {{ include('_right-navigation.html.twig') }}
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <div id="langnav">
            Language:&nbsp;&nbsp;
            <a href="/en/">EN</a>
            &nbsp;
            <a href="/fr/">FR</a>
            &nbsp;
            <a href="/de/">DE</a>
        </div>

        <main>

            {{ include('_messages.html.twig') }}

            {% block body %}{% endblock %}

        </main>

        <div id="footer" class="full-row dark">

            <div class="container">

                <hr>

                <div class="row">

                    <div class="col-xs-12 text-center">

                        <p>
                            <strong>&copy;2017 The ubiqMachine Team.</strong>
                        </p>
                        <p>
                            Made with ❤ in France and Germany
                            &nbsp;·&nbsp;
                            <a style="color: #fff;" href="mailto:info@ubiqmachine.com">Get in touch</a>
                            &nbsp;·&nbsp;
                            <a style="color: #fff;" href="http://manuel.kiessling.net/imprint-impressum-datenschutz-haftung">Imprint</a>
                        </p>

                    </div>

                </div>

            </div>

            <div class="container">&nbsp;</div>
            <div class="container">&nbsp;</div>
            <div class="container">&nbsp;</div>

            <div class="container">
                <div class="row">

                    <div class="col-xs-12 text-center">

                        <p class="small">
                            Microsoft® and Windows® are either registered trademarks
                            <br>
                            or trademarks of Microsoft Corporation in the United States and/or other countries.
                            <br>
                            This service is neither affiliated with nor endorsed by Microsoft Corporation.
                        </p>

                    </div>

                </div>

            </div>

        </div>

        {% block javascripts %}
        {% endblock %}

        <script>
            jQuery('document').ready(function () {
                jQuery(function() {
                    var tz = jstz.determine();
                    Cookies.set('ubiqmachine_timezone', tz.name());
                });
            });
        </script>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-2127388-15', 'auto');
            ga('send', 'pageview');

        </script>

    </body>
</html>
