{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                {% if accessDenied %}
                    <div class="alert alert-danger">
                        {{ "payment.finish.accessDenied_message"|trans }}
                    </div>
                {% else %}

                    {% if success %}
                        <div class="alert alert-success">
                            <strong>{{ "payment.finish.success_message"|trans({"%amount%": amount|localizedcurrency('USD')}) }}</strong>
                            <hr>
                            {{ "payment.finish.current_balance"|trans({"%balance%": balance|localizedcurrency('USD')}) }}
                        </div>
                    {% else %}
                        <div class="alert alert-warning">
                            <strong>{{ "payment.finish.cancel_message"|trans({"%amount%": amount|localizedcurrency('USD')}) }}</strong>
                            <hr>
                            {{ "payment.finish.current_balance"|trans({"%balance%": balance|localizedcurrency('USD')}) }}
                        </div>
                    {% endif %}

                {% endif %}

                <a href="{{ path('remotedesktops.index') }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    {{ "payment.finish.back_to_remotedesktops"|trans }}
                </a>

            </div>
        </div>
    </div>
{% endblock %}
