{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                {% if accessDenied %}

                    <div class="alert alert-danger">
                        {{ "payment.finish.accessDenied_message"|trans }}
                    </div>

                {% else %}

                    <style>
                        #jms_choose_payment_method {
                            display: none;
                        }
                    </style>

                    <h1>{{ "payment.new.form.headline"|trans }}</h1>

                    <div class="well">
                        <div class="pull-right" style="margin-left: 40px">
                            <img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" style="margin-right:7px;">
                        </div>

                        <p>
                            {{ "payment.new.form.description_one"|trans }}
                        </p>
                        <p>
                            <strong>
                                {{ "payment.new.form.description_two"|trans({"%amount%": amount|localizedcurrency('USD')}) }}
                            </strong>
                        </p>

                        <hr>

                        {{ form_start(form) }}
                        {{ form_errors(form) }}
                        {{ form_widget(form) }}
                        <input type="submit" class="btn btn-primary" value="{{ "payment.new.form.submit_label"|trans }}" />
                        {{ form_end(form) }}
                    </div>

                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}
