{% extends '::base.html.twig' %}

{% block body %}
    <main>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <h1>{{ "remoteDesktop.index.headline"|trans }}</h1>

                    {% if remoteDesktops %}
                        {% for remoteDesktop in remoteDesktops %}


                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h2 class="panel-title">
                                        <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>
                                        {{ remoteDesktop.title }}
                                    </h2>
                                </div>

                                <div class="panel-body">
                                    <span class="label label-info">{{ remoteDesktop.kind|trans }}</span>

                                    {% if remoteDesktop.status == constant('AppBundle\\Entity\\RemoteDesktop\\RemoteDesktop::STATUS_NEVER_LAUNCHED') %}
                                        <span class="label label-default">
                                        {{ "remoteDesktop.status.label"|trans }}
                                            {{ "remoteDesktop.status.never_launched"|trans }}
                                    </span>
                                    {% endif %}
                                </div>

                                <div class="panel-footer">
                                    <a class="btn btn-primary">
                                        <span class="glyphicon glyphicon-expand" aria-hidden="true"></span>
                                        {{ "remoteDesktop.index.launch_button"|trans }}
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="alert alert-info" role="alert">
                            {{ "remoteDesktop.index.no_remote_desktops_yet"|trans }}
                        </div>
                    {% endif %}
                    <a href="{{ path('remotedesktops.new') }}" type="button" class="btn btn-success btn-lg">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        {{ "remoteDesktop.index.add_button"|trans }}
                    </a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
