{% extends '::base.html.twig' %}

{% block body %}
    <main>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <h1>{{ "remoteDesktop.index.headline"|trans }}</h1>

                    {% if remoteDesktops %}

                        {% for remoteDesktop in remoteDesktops %}

                            <div class="panel panel-default remotedesktop-panel">
                                <div class="panel-heading">
                                    <h2 class="panel-title">
                                        <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>
                                        {{ remoteDesktop.title }}
                                    </h2>
                                </div>

                                <div class="panel-body">
                                    {% if remoteDesktop.status == constant('AppBundle\\Entity\\RemoteDesktop\\RemoteDesktop::STATUS_NEVER_LAUNCHED') %}
                                        <h3>
                                            {{ "remoteDesktop.status.label"|trans }}
                                            <span class="label label-default">
                                                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                                                {{ "remoteDesktop.status.never_launched"|trans }}
                                            </span>
                                        </h3>
                                    {% endif %}

                                    {% if remoteDesktop.status == constant('AppBundle\\Entity\\RemoteDesktop\\RemoteDesktop::STATUS_LAUNCHING') %}
                                        <h3>
                                            {{ "remoteDesktop.status.label"|trans }}
                                            <span class="label label-primary label-pulsating">
                                                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                                {{ "remoteDesktop.status.launching"|trans }}
                                            </span>
                                        </h3>

                                        <div class="alert alert-warning small" role="alert">
                                            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                                            {{ "remoteDesktop.index.info_launching"|trans }}
                                        </div>
                                    {% endif %}

                                    {% if remoteDesktop.status == constant('AppBundle\\Entity\\RemoteDesktop\\RemoteDesktop::STATUS_RUNNING') %}
                                        <h3>
                                            {{ "remoteDesktop.status.label"|trans }}
                                            <span class="label label-success">
                                                <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                                                {{ "remoteDesktop.status.running"|trans }}
                                            </span>
                                        </h3>

                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <strong>{{ "remoteDesktop.index.publicaddress_label"|trans }}</strong>
                                                {{ remoteDesktop.publicAddress }}
                                            </li>
                                            <li class="list-group-item">
                                                <strong>{{ "remoteDesktop.index.username_label"|trans }}</strong>
                                                Administrator
                                            </li>
                                            <li class="list-group-item">
                                                <strong>{{ "remoteDesktop.index.password_label"|trans }}</strong>
                                                {{ remoteDesktop.adminPassword }}
                                            </li>
                                        </ul>
                                    {% endif %}

                                    {% if remoteDesktop.status == constant('AppBundle\\Entity\\RemoteDesktop\\RemoteDesktop::STATUS_STOPPED') %}
                                        <h3>
                                            {{ "remoteDesktop.status.label"|trans }}
                                            <span class="label label-default">
                                                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                                                {{ "remoteDesktop.status.stopped"|trans }}
                                            </span>
                                        </h3>
                                    {% endif %}

                                    <div class="well well-sm remotedesktop-infobox">
                                    {% if remoteDesktop.status is not constant('AppBundle\\Entity\\RemoteDesktop\\RemoteDesktop::STATUS_NEVER_LAUNCHED') %}
                                        <span class="label label-default">
                                            {{ remoteDesktop.getRegionOfActiveCloudInstance.humanName|trans }}
                                        </span>

                                        &nbsp;
                                        <span class="label label-default">
                                            {{ remoteDesktop.getFlavorOfActiveCloudInstance.humanName }}
                                        </span>
                                    {% endif %}

                                    &nbsp;
                                    <span class="label label-default">
                                        {{ remoteDesktop.kind|trans }}
                                    </span>
                                    </div>
                                </div>

                                <div class="panel-footer">

                                    {% if remoteDesktop.status == constant('AppBundle\\Entity\\RemoteDesktop\\RemoteDesktop::STATUS_NEVER_LAUNCHED') %}
                                    <a href="{{ path('cloudinstances.new', { 'remoteDesktop': remoteDesktop.id }) }}" class="btn btn-primary">
                                        <span class="glyphicon glyphicon-expand" aria-hidden="true"></span>
                                        {{ "remoteDesktop.index.launch_button"|trans }}
                                    </a>
                                    {% endif %}

                                    {% if remoteDesktop.status == constant('AppBundle\\Entity\\RemoteDesktop\\RemoteDesktop::STATUS_LAUNCHING') %}
                                        <a href="{{ path('remotedesktops.index') }}" class="btn btn-info">
                                            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                                            {{ "remoteDesktop.index.refresh_button"|trans }}
                                        </a>
                                    {% endif %}

                                    {% if remoteDesktop.status == constant('AppBundle\\Entity\\RemoteDesktop\\RemoteDesktop::STATUS_RUNNING') %}
                                        <a href="{{ path('remotedesktops.stop', { 'remoteDesktop': remoteDesktop.id }) }}" class="btn btn-danger">
                                            <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                                            {{ "remoteDesktop.index.stop_button"|trans }}
                                        </a>
                                    {% endif %}

                                </div>

                            </div>
                        {% endfor %}

                    {% else %}

                        <div class="alert alert-info" role="alert">
                            {{ "remoteDesktop.index.no_remote_desktops_yet"|trans }}
                        </div>

                    {% endif %}

                    <a href="{{ path('remotedesktops.new') }}" type="button" class="btn btn-success btn-lg">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        {{ "remoteDesktop.index.add_button"|trans }}
                    </a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {# This adds a nice "breathing" effect to status labels of desktops that wait for launch to finish #}
    <script src="{{ asset('bundles/app/static-vendor/jquery.pulse.1.0.0.min.js') }}"></script>
    <script>
        var properties = {
            opacity: 0.25
        };
        var el = $('.label-pulsating');
        el.pulse(properties, { pulses : -1, duration: 4000, interval: 2000 });
    </script>

{% endblock %}
