{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>{{ "remoteDesktop.new.form.headline"|trans }}</h1>
                <div class="well">
                    {{ form_start(form) }}
                    {{ form_row(form.title) }}

                    <div class="form-group">
                        <label class="control-label required">
                            {% if remoteDesktopKinds|length == 1 %}
                                {{ "remoteDesktop.new.form.kind_label_if_only_one_kind"|trans }}
                            {% else %}
                                {{ "remoteDesktop.new.form.kind_label"|trans }}
                            {% endif %}
                        </label>
                        <div>

                            {% for remoteDesktopKind in remoteDesktopKinds %}

                                <div class="radio">
                                    <input
                                        id="remotedesktopkind-{{ remoteDesktopKind.identifier }}"
                                        class="remotedesktopkind-radio"
                                        name="form[kind]"
                                        required="required"
                                        value="{{ remoteDesktopKind.identifier }}"
                                        type="radio"
                                        {% if loop.length == 1 %}checked="checked"{% endif %}
                                    >

                                    <label for="remotedesktopkind-{{ remoteDesktopKind.identifier }}" class="required well remotedesktopkind-label">
                                        <p>
                                            <span class="remotedesktopkind-name">{{ remoteDesktopKind.name|trans }}</span>
                                        </p>

                                        <p>
                                            &#8226; {{ "remoteDesktop.new.form.available_in_regions"|trans }}
                                            {% for region in remoteDesktopKind.availableRegions %}
                                                <span class="label label-success">{{ region.humanName|trans }}</span>
                                            {% endfor %}
                                        </p>
                                        <p>
                                            &#8226; {{ "remoteDesktop.new.form.hardware_setup"|trans }}
                                            <strong>{{ remoteDesktopKind.flavor.humanName|trans }}</strong>
                                        </p>

                                        <hr>
                                        <div class="panel panel-success remotedesktopkind-usagecostsforoneinterval">
                                            <div class="panel-heading text-center">
                                                <strong>
                                                    {{ remoteDesktopKind.maximumUsageCostsForOneInterval|localizedcurrency('USD') }}
                                                    {{ ("remoteDesktop.new.form.usage_"  ~ remoteDesktopKind.cloudInstanceProvider.usageCostsIntervalAsString)|trans }}
                                                </strong>
                                                &#8226;
                                                {{ remoteDesktopKind.maximumProvisioningCostsForOneInterval|localizedcurrency('USD') }}
                                                {{ ("remoteDesktop.new.form.storage_"  ~ remoteDesktopKind.cloudInstanceProvider.provisioningCostsIntervalAsString)|trans }}
                                            </div>
                                        </div>

                                    </label>
                                </div>

                                <hr>

                            {% endfor %}


                        </div>
                    </div>

                    {{ form_row(form.send) }}
                    {{ form_end(form, {'render_rest': false}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
