{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>{{ "about.howbillingworks.headline"|trans }}</h1>

                <div class="well">
                    <p>
                        {{ "about.howbillingworks.introduction_one"|trans }}
                    </p>
                    <p>
                        {{ "about.howbillingworks.introduction_two"|trans }}
                    </p>
                    <p>
                        {{ "about.howbillingworks.introduction_three"|trans }}
                    </p>
                    <p>
                        {{ "about.howbillingworks.introduction_four"|trans }}
                    </p>
                </div>

                <hr>

                <h2>{{ "about.howbillingworks.headline_one_hour"|trans }}</h2>
                <img src="{{ asset('bundles/app/images/billing-diagram-1-hour.png') }}" width="100%">

                <hr>

                <h2>{{ "about.howbillingworks.headline_two_hours"|trans }}</h2>
                <img src="{{ asset('bundles/app/images/billing-diagram-2-hours.png') }}" width="100%">

            </div>
        </div>
    </div>
{% endblock %}
