{% extends 'base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    <style>
        h4 {
            margin-top: 32px;
            color: #000;
        }
    </style>

{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>{{ "about.privacypolicy.headline_primary"|trans }}</h1>
                <div class="well">
                    {{ "about.privacypolicy.text_primary"|trans|raw }}
                </div>

                <h1>{{ "about.privacypolicy.headline_secondary"|trans }}</h1>
                <div class="well">
                    {{ "about.privacypolicy.text_secondary"|trans|raw }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
