{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>{{ "accountMovement.index.headline"|trans }}</h1>
                <div class="well">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                    <th>{{ "accountMovement.index.thead_occurred_at"|trans }}</th>
                                <th>{{ "accountMovement.index.thead_events"|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for event in events %}

                                <tr>
                                    <td>{{ event.occuredAt|date('F j, Y H:i', app.request.cookies.get('ubiqmachine_timezone')) }}</td>

                                    <td>
                                        {% for oneEvent in event.events %}
                                            {{ oneEvent.description|trans({
                                                '%moneyValue%': oneEvent.moneyValue|localizedcurrency('USD'),
                                                '%stringValue%': oneEvent.stringValue,
                                                '%billableItemTypeTranslation%': ('accountMovement.index.billable_item_type_translation_' ~ oneEvent.billableItemType)|trans,
                                                '%remoteDesktopTitle%': oneEvent.remoteDesktopTitle
                                                })|replace({'[br]': '<br>'})|raw
                                            }}
                                            <br>
                                            <br>
                                        {% endfor %}
                                    </td>
                                </tr>

                            {% endfor %}

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
