{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>{{ "accountMovement.index.headline"|trans }}</h1>
                <div class="well">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    {{ "accountMovement.index.thead_occurred_at"|trans }}
                                    <br>
                                    <small style="font-weight: normal;">{{ timezone }}</small>
                                </th>
                                <th>
                                    {{ "accountMovement.index.thead_events"|trans }}
                                    <br>
                                    <small>&nbsp;</small>
                                </th>
                                <th>
                                    {{ "accountMovement.index.thead_balance"|trans }}
                                    <br>
                                    <small>&nbsp;</small>
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for eventblock in eventblocks %}

                                <tr>
                                    <td>
                                        <strong>
                                            {{ eventblock.occuredAt|date('F j, Y', timezone) }}
                                            <br>
                                        </strong>
                                        {{ eventblock.occuredAt|date('H:i', timezone) }}&nbsp;{{ "accountMovement.index.oclock"|trans }}
                                    </td>

                                    <td>
                                        {% for event in eventblock.events %}
                                            {{ event.description|trans({
                                                '%moneyValue%': event.moneyValue|localizedcurrency('USD'),
                                                '%stringValue%': event.stringValue,
                                                '%billableItemTypeTranslation%': ('accountMovement.index.billable_item_type_translation_' ~ event.billableItemType)|trans,
                                                '%remoteDesktopTitle%': event.remoteDesktopTitle
                                                })|replace({'[br]': '<br>'})|raw
                                            }}
                                            <br>
                                            <br>
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% if eventblock.accountBalance is defined %}
                                            <strong>{{ eventblock.accountBalance|localizedcurrency('USD') }}</strong>
                                        {% endif %}
                                    </td>
                                </tr>

                            {% endfor %}

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
