{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>{{ "cloudInstance.new.form.headline"|trans }}</h1>

                {% if insufficientAccountBalance %}
                    {{ include('AppBundle:_reusable:insufficientAccountBalance.html.twig') }}
                {% endif %}

                <div class="well">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>

                <div class="well">
                    <div id="requestImageCell" style="display: none;"></div>
                    <span id="regionPingResult_eu-central-1"></span>
                    <span id="regionPingResult_eu-west-1"></span>
                    <span id="regionPingResult_us-east-1"></span>
                    <span id="regionPingResult_us-west-1"></span>
                    <span id="regionPingResult_ap-southeast-2"></span>
                </div>

                <a href="{{ path('remotedesktops.index') }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    {{ "cloudInstance.new.launch_later_button"|trans }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script>
        jQuery('document').ready(function () {
            jQuery(function() {

                var regionFormFields = jQuery('input[name="form[region]"]').toArray().reverse();
                var requestImageCell = jQuery('#requestImageCell');

                window.setTimeout(
                    function () {
                        doNextRegionFormField(regionFormFields);
                    },
                    2000
                );

                function currentTimeMillis() {
                    return Date.now();
                }

                function pingEndpoint(endpoint, onComplete) {
                    var randomString = Math.floor(Math.random()*0xFFFFFFFFFFFFFFFF).toString(36);
                    var targetUrl = endpoint + 'ping?x=' + randomString;
                    requestImageCell.empty();
                    requestImageCell.html('<img id="pingImage" style="display: none;">');
                    var pingImage = jQuery('#pingImage');
                    pingImage.on('error', onComplete);
                    pingImage.attr('src', targetUrl);
                }

                function doNextRegionFormField(regionFormFields) {
                    var regionFormField = regionFormFields.pop();
                    if (regionFormField) {
                        var region = regionFormField.value;
                        var endpoint = 'http://dynamodb.' + region + '.amazonaws.com/';
                        step1ConnectEndpoint(regionFormField, region, endpoint, regionFormFields);
                    }
                }

                function step1ConnectEndpoint(regionFormField, region, endpoint, regionFormFields) {
                    jQuery('#regionPingResult_' + region).html('connecting...');
                    pingEndpoint(endpoint, function() { step2PingEndpoint(regionFormField, region, endpoint, regionFormFields); });
                }

                function step2PingEndpoint(regionFormField, region, endpoint, regionFormFields) {
                    jQuery('#regionPingResult_' + region).html('pinging...');
                    var startTime = currentTimeMillis();
                    pingEndpoint(endpoint, function() { step3DisplayResult(startTime, regionFormField, region, endpoint, regionFormFields); });
                }

                function step3DisplayResult(startTime, regionFormField, region, endpoint, regionFormFields) {
                    var endTime = currentTimeMillis();
                    var elapsed = endTime - startTime;
                    var resultText = elapsed.toString() + ' ms';
                    jQuery('#regionPingResult_' + region).html(resultText);
                    doNextRegionFormField(regionFormFields);
                }

            });
        });
    </script>

{% endblock %}
