{% extends 'base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    <style>
        #titles {
            margin-top: 20px;
            margin-bottom: -20px;
        }

        #pingInfoTitle {
            position: relative;
            left: 84px;
        }

        .regionFormFieldPingInfo {
            position: absolute;
            min-width: 100px;
            left: 100px;
            display: inline-block;
            margin-left: 40px;
            padding-left: 4px;
            padding-right: 4px;
            background-color: #ccc;
            color: #444;
        }

        .regionFormFieldPingInfo.good {
            background-color: #ccffcc;
            color: #008800;
        }

        .regionFormFieldPingInfo.medium {
            background-color: #ffffcc;
            color: #888800;
        }

        .regionFormFieldPingInfo.bad {
            background-color: #ffcccc;
            color: #880000;
        }
    </style>

{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>{{ "cloudInstance.new.form.headline"|trans }}</h1>

                {% if insufficientAccountBalance %}
                    {{ include('AppBundle:_reusable:insufficientAccountBalance.html.twig') }}
                {% endif %}

                <div id="pingImageCell" style="display: none;"></div>

                <div class="well">

                    <strong>{{ "cloudInstance.new.form.subheadline"|trans }}</strong>

                    <div id="titles">
                        <span id="regionTitle"><u>{{ "cloudInstance.new.form.region_title"|trans }}</u></span>

                        {% if remoteDesktop.cloudInstanceProvider.hasLatencycheckEndpoints %}
                            <span id="pingInfoTitle"><u>{{ "cloudInstance.new.form.pinginfo.title"|trans }}</u></span>
                        {% endif %}
                    </div>

                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}

                    {% if remoteDesktop.cloudInstanceProvider.hasLatencycheckEndpoints %}
                        {{ "cloudInstance.new.form.pinginfo.explanation"|trans }}
                    {% else %}
                        {{ "cloudInstance.new.form.pinginfo.explanation_if_latencycheck_unavailable"|trans }}
                    {% endif %}

                </div>

                <a href="{{ path('remotedesktops.index') }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    {{ "cloudInstance.new.launch_later_button"|trans }}
                </a>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    {% if remoteDesktop.cloudInstanceProvider.hasLatencycheckEndpoints %}
        <script>
            jQuery('document').ready(function () {
                jQuery(function() {

                    var regionFormFields = jQuery('input[name="form[region]"]').toArray().reverse();
                    var pingImageCell = jQuery('#pingImageCell');

                    regionFormFields.forEach(function (regionFormField) {
                        jQuery('input[value="' + regionFormField.value + '"]')
                            .closest('label')
                            .append('<span class="regionFormFieldPingInfo" id="regionFormFieldPingInfo_' + regionFormField.value + '">{{ "cloudInstance.new.form.pinginfo.waiting"|trans }}</span>');
                    });

                    window.setTimeout(
                        function () {
                            doNextRegionFormField(regionFormFields);
                        },
                        1000
                    );

                    function currentTimeMillis() {
                        return Date.now();
                    }

                    function pingEndpoint(endpoint, onComplete) {
                        var randomString = Math.floor(Math.random()*0xFFFFFFFFFFFFFFFF).toString(36);
                        var targetUrl = endpoint + 'ping?x=' + randomString;
                        pingImageCell.empty();
                        pingImageCell.html("<img id='pingImage' style='display: none'>");
                        var pingImage = $("#pingImage");
                        pingImage.on('error', onComplete);
                        pingImage.attr('src', targetUrl);
                    }

                    function doNextRegionFormField(regionFormFields) {
                        var regionFormField = regionFormFields.pop();
                        if (regionFormField) {
                            var region = regionFormField.value;
                            var endpoint = 'https://dynamodb.' + region + '.amazonaws.com/';
                            step1ConnectEndpoint(regionFormField, region, endpoint, regionFormFields);
                        }
                    }

                    function step1ConnectEndpoint(regionFormField, region, endpoint, regionFormFields) {
                        jQuery('#regionFormFieldPingInfo_' + region).html('{{ "cloudInstance.new.form.pinginfo.connecting"|trans }}');
                        pingEndpoint(endpoint, function() { step2PingEndpoint(regionFormField, region, endpoint, regionFormFields); });
                    }

                    function step2PingEndpoint(regionFormField, region, endpoint, regionFormFields) {
                        jQuery('#regionFormFieldPingInfo_' + region).html('{{ "cloudInstance.new.form.pinginfo.pinging"|trans }}');
                        var startTime = currentTimeMillis();
                        pingEndpoint(endpoint, function() { step3DisplayResult(startTime, regionFormField, region, endpoint, regionFormFields); });
                    }

                    function step3DisplayResult(startTime, regionFormField, region, endpoint, regionFormFields) {
                        var endTime = currentTimeMillis();
                        var elapsed = endTime - startTime;
                        var resultText = elapsed.toString() + ' ms';

                        if (elapsed < 30) {
                            jQuery('#regionFormFieldPingInfo_' + region).addClass('good');
                        } else if (elapsed < 60) {
                            jQuery('#regionFormFieldPingInfo_' + region).addClass('medium');
                        } else {
                            jQuery('#regionFormFieldPingInfo_' + region).addClass('bad');
                        }

                        jQuery('#regionFormFieldPingInfo_' + region).html(resultText);
                        doNextRegionFormField(regionFormFields);
                    }

                });
            });
        </script>

    {% endif %}

{% endblock %}
